<form action="{{ path("vente_add") }}" method="post">
    <div class="vente login">
        <p>Ajout d'une Vente</p>
        <div class="libelle-achat">
            <label>Article :</label> 
            <select name="_ventearticle">
                {% for article in articles %}
                    <option value="{{ article.id }}">{{ article.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="libelle-achat">
            <label>Date de vente :</label>
            <input type="text" name="_ventedate" class="datepicker"> 
        </div>
        <div class="libelle-achat">
            <label> Quantité :</label> 
            <input type="text" id="ventequantite" name="_ventequantite" required="required" />
        </div>
        <div class="libelle-achat">
            <label>Prix Unitaire :</label> 
            <input type="text" id="venteprixunitaire" name="_venteprixunitaire" required="required" />
        </div>
        
        <div align="center">
            <input  class="btn-connex"  type="submit" id="_submit" name="_submit" value="Valider" />
        </div>
    </div>
</form>