<form action="{{ path("achat_add") }}" method="post">
    <div class="Achat login">
        <p>Nouvelle article</p>
        <div class="libelle-achat"><label>Article :</label>
                <select name="_achatarticle">
                {% for article in articles %}
                    <option value="{{ article.id }}">{{ article.name}}</option>
                {% endfor %}
            </select> 
        </div>
        
        <div class="libelle-achat"><label>Date Achat :</label>  <input type="text" name="_achatdate" class="datepicker"></div>
        <div class="libelle-achat"><label>Quantité :</label> <input type="number" id="achatquantite" name="_achatquantite" required="required" /></div>
        <div class="libelle-achat"><label>Prix Unitaire :</label> <input type="number" id="achatprixunitaire" name="_achatprixunitaire" required="required" /></div>
         
         
        {#<div>
            <label for="artclename">nom</label>
            <input type="text" id="artclename" name="_artclename" required="required" /></td>
        </div>
        <div>
            <label for="articledescription">desccription</label>
            <textarea  id="articledescription" name="_articledescription"></textarea>
        </div>#}

        <div align="center">
            <input  class="btn-connex"  type="submit" id="_submit" name="_submit" value="Valider" />
        </div>
    </div>
</form>