<form action="{{ path("achat_add") }}" method="post">
    <div class="login">
        <p>Ajout d'un Achat</p>

        <select name="_achatarticle">
            {% for article in articles %}
                <option value="{{ article.id }}">{{ article.name}}</option>
            {% endfor %}
        </select>
        <input type="date" name="_achatdate">
        <input type="number" id="achatquantite" name="_achatquantite" required="required" /></td>
        <input type="number" id="achatprixunitaire" name="_achatprixunitaire" required="required" /></td>
        {#<div>
            <label for="artclename">nom</label>
            <input type="text" id="artclename" name="_artclename" required="required" /></td>
        </div>
        <div>
            <label for="articledescription">desccription</label>
            <textarea  id="articledescription" name="_articledescription"></textarea>
        </div>#}

        <div align="center">
            <input  class="btn-connex"  type="submit" id="_submit" name="_submit" value="Valider" />
        </div>
    </div>
</form>