/* login*/
.changement.login{
  width: 640px !important;
  }
  .changement.login label {
    width: 287px !important;
}
.password {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66);
}
.login input.checkbox-login{
    display: inline-block;
    float: left;
    width: 7%;
    margin-left: 6%;
    margin-top: 13px;
    margin-right: -3%;
  }
  label.label-checkbox-login {
    margin-left: 0 !important;
    width: 200px !important;
}
.label-checkbox-login{
    margin-left: 0px;
    width: 80%;
  }
.login{
  width: 525px;
    background: rgba(249, 251, 248, 0.45);
    border-radius: 20px;
    margin-left: 36%;
    margin-top: 13%;

}
.login .item {
    background: #fff;
    padding-left: 10px;
    height: 37px;
    padding-top: 2px;
    width: 294px;
    padding: 7px;
    margin: 6px 6px 0 0;
    cursor: pointer;
}
.login .selectize-dropdown-content .option{
    width: 294px !important;
    margin-left: 0 !important;
}
.login textarea {
    width: 295px;
   /* margin-left: 5px;*/
    height: 250px;
}
.login p {
    font-family: Arial;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 5px;
    color: #000000;
    text-decoration: underline;
}
.logo-login {
    margin-bottom: 20px;
}
.login label {
    width: 160px;
    padding: 10px;
    margin-left: 32px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.login input {
    width: 294px;
    padding: 7px;
    margin: 6px;
    margin-left: 0;

}
.logo-login img {
    width: 97%;
    padding-left: 15px;
}
.btn-connex {
    background: #ff5722!important;
    color: #fff!important;
    border-radius: 5px!important;
    width: auto!important;
    cursor: pointer!important;
    margin-bottom: 22px!important;
    margin-top: 12px!important;
    border: none;
    padding: 4px 16px !important;
    margin-left: 20px;
}
.btn-connex:hover {
    background: rgba(255, 87, 34, 0.7)!important;
}
a.btn-oublier {
    margin-left: 8%;
    display: inline-block;
    float: left;
    margin-top: 5px;
    color: red;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}
/* fin login*/
/*  reinitialisation*/

label.LB-reinitialisation {
    width: 100%;
    float: none;
    margin-left: 0;
}
.reinitialisation {
    text-align: center;
}
input.btn-connex.BTN-reinitialisation{
  margin-left: 0;
}
/* fin reinitialisation*/
