@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fxmesu');
  src:  url('fonts/icomoon.eot?fxmesu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fxmesu') format('truetype'),
    url('fonts/icomoon.woff?fxmesu') format('woff'),
    url('fonts/icomoon.svg?fxmesu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uni34:before {
  content: "\34";
}
.icon-uni35:before {
  content: "\35";
}
.icon-uni38:before {
  content: "\38";
}
.icon-uni39:before {
  content: "\39";
}
.icon-new:before {
  content: "\69";
  padding-right: 5px;
}
.icon-uniE101:before {
  content: "\e101";
}
.icon-Download:before {
  content: "\e90c";
}
.icon-recherche:before {
  content: "\f007";
  padding-right: 5px;
}
.icon-uniF1C3:before {
  content: "\f1c3";
}
.icon-uni6C:before {
  content: "\6c";
   padding-right: 5px;
}
.icon-uniE019:before {
  content: "\e019";
  padding-right: 5px;
}
.icon-recherche, .icon-new{
    color: #fff;
    cursor: pointer;
}
.icon-recherche:hover, .icon-new:hover{
color: #fff;
}


@font-face {
  font-family: 'Helvetica';
  src:  url('fonts/icomoon-filter.eot?dwizdf');
  src:  url('fonts/icomoon-filter.eot?dwizdf#iefix') format('embedded-opentype'),
    url('fonts/icomoon-filter.ttf?dwizdf') format('truetype'),
    url('fonts/icomoon-filter.woff?dwizdf') format('woff'),
    url('fonts/icomoon-filter.svg?dwizdf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icone-"], [class*=" icone-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Helvetica' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icone-uniF07D:before {
  content: "\f07d" !important;
  float: right !important;
}
.icone-uniF15D:before {
  content: "\f15d" !important;
  float: right !important;
}
.icone-uniF15E:before {
  content: "\f15e" !important;
  float: right !important;
}
.icone-uniF162:before {
  content: "\f162" !important;
  float: right !important;
}
.icone-uniF163:before {
  content: "\f163" !important;
  float: right !important;
}



@media (min-width: 992px){
  .col-md-10.page-cyber{
    width: 84.18% !important;
  }
  .col-md-12.content-cyber {
    /*height: 945px;*/
  }
}
a.icon-uni6C.promouvoir {
    float: right;
    margin: 0;
    color: green;
}

a.icon-uni6C,a.icon-uniE019 {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    margin: 7px;
    line-height: 20px;
}
a.icon-uni6C:hover,a.icon-uniE019:hover {
    color: red;
}

body.global{
	background-color: rgba(0, 0, 0, 0.26);
  padding: 10px;
}
.content-cyber{
	background: #fff;
  /*border-radius: 20px;*/
  border: 10px solid #fff;
  padding: 0 !important;
}

.header-class {
    background: #fff;
    border-radius: 13px 13px 0 0;
    display: -webkit-inline-box;
    width: 100%;

}
.header-class img {
    width: 83%;
    padding: 23px;
}
.header-class p {
    text-align: center;
    width: 60%;
    font-size: 60px;
    text-decoration: underline;
}
.btn_ajout{
    /*position: absolute;
    top: 231px;
    right: 48px;*/
}
fieldset {
    padding: 15px;
    margin-top: 10px!important;
    margin-left: 13px!important;
    border: 2px solid #fff!important;
    border-radius: 6px;
    width: max-content;
    /*color: #fff;*/
    font-size: 18px;

}
/*div#datepicker {
    width: 260px;
}*/
.alert-success {
    background-color: rgba(255, 255, 255, 0.59) !important;
    color: #f30d0d !important;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-color: rgba(255, 255, 255, 0.59) !important;
    border-radius: 0 !important;

}

.alert-info {
  color: #31708f;
  background-color: rgba(255, 255, 255, 0.59) !important;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-color: rgba(255, 255, 255, 0.59) !important;
  border-radius: 0 !important;
}

.alert-warning {
  color: #8a6d3b;
  background-color: rgba(255, 255, 255, 0.59) !important;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-color: rgba(255, 255, 255, 0.59) !important;
  border-radius: 0 !important;
}

.alert-danger {
  color: #a94442;
  background-color: rgba(255, 255, 255, 0.59) !important;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-color: rgba(255, 255, 255, 0.59) !important;
  border-radius: 0 !important;
}

.export{
    float: right;
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    right: 14px;
    top: 21%;
    padding: 5px 15px;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}
.export:hover{
  background: #ffffff;
  color: green;
  text-decoration: none;
}
a.btn-connex {
    padding: 6px 16px !important;
    font-family: serif;
    text-decoration: none !important;
}
.contenu-recherche legend{
  margin: 10px;
    padding: 0 10px;
}
.contenu-recherche legend,.contenu-recherche label,.contenu-recherche span{
  color: #fff;
  font-weight: 100 !important;
}
h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 5px;
    color: red;
    display: inline-block;
    margin-top: 8px;
    padding-left: 15px;
}
 div.tab {
    overflow: hidden;
    background-color: #ffffff;
    padding: 0 0 0 27px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: #1c3f65;
    border-radius: 13px 13px 0 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 9px 0;
    transition: 0.3s;
    width: 120px;
    border: none;
    margin-right: 3px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: red;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: red;
    border-radius: 13px 13px 0 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

/* Style the tab content */
.tabcontent h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    text-decoration: underline;
}
.page-cyber{
   /*border-radius: 10px; */
    position: absolute!important;
    z-index: 5;
    /* left: 17%; */
    background: rgba(0,0,0,.42);
    height: 100%;
    /*margin-top: 15px 0 0 0;*/
    padding-left: 0!important;
    padding-right: 0!important;
    right: 0%;
}
.tabcontentprod {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background: #ffffff;
    border-radius: 0 0 10px 10px;
    float: left;
    min-height: 675px;
}
 td{
    border: 1px solid #adcdfe;
    width: 257px;
    padding: 5px 10px !important;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial;
  }
 td.table_title {
    background: #fff;
    font-size: 18px;
    color: red;
    font-weight: 600;
   
}
td.table_title a{
  color: red
}
td.interval{
    background: #fff;
    
}
td.interval-achat{
  background:  #faebd7;
  border: 1px solid #adcdfe;
    
}
td.interval-vente-stock {
    background: #adcdfe;
    border: 1px solid #fff;
}
td.interval-vente {
    background: #faebd7;
    border: 1px solid #adcdfe;
}
table{    
  border-collapse: collapse;
  border-spacing: 0;
}

div.contenu {
    margin: 11px;
    position: absolute;
    z-index: 5;
}
.rupture{
  background: #FF5722;
 
  color: #fff;
}
.achat{
  background: rgba(158, 158, 158, 0.73);
}
/*.pagination li {
    color: #000;
    float: left;
    padding: 8px 13px;
    text-decoration: none;
    transition: background-color .3s;
    list-style-type: none;
}
.pagination {
    float: right;
}

.pagination li.active {
    background-color: #4CAF50;
    color: white;
}

.pagination li:hover:not(.active) {background-color: #ddd;}*/

/*---------------- utilisateurs et profil----------------------*/
tr.utilisateur-tr td {
    width: 21%;
}
td.interval-user {
    background: #faebd7;
}
.fos_user_user_show {
    display: inline-block;
    padding: 25px 0;
}
.fos_user_user_show label{
  margin-left: 12px !important;
}
.fos_user_user_show a {
    background: #ffffff;
    text-decoration: none !important;
    padding: 7px;
    border-radius: 5px;
    float: right !important;
    margin: 15px 6px 10px 6px !important;
}
.active{
  color: red;
}
.desactive{
  color: green;
}

/*----- achat-----*/
input#Article {
    font-size: 14px;
    padding-left: 10px;
    background-color: #ffffff !important;
    height: 32px;
    border: none;
}
td.interval-article {
    background: #faebd7;
    color: #000000;
}
td.interval-article a{
  color: #000000;
}
tr.article-tr td {
    width: 42%;
}
.selecteur input{
    width: 179px!important;
    cursor: pointer;
    margin-left: 8px;
}
.selecteur label {
    font-weight: 100;
}
.selecteur .item {
    background: #fff;
    color: #000;
    padding-left: 15px;
    width: 179px;
    height: 31px;
    font-size: 16px;
    padding-top: 4px;
    cursor: pointer;
    margin-left: 8px;

}
.selectize-dropdown-content {
    position: absolute;
    z-index: 6;
}

.selectize-dropdown-content .option {
    cursor: pointer;
    background: #ffffff;
    width: 179px;
    margin-left: 8px;
    border-top: 1px solid #ff5722;
    background-color: white;
    padding-left: 8px!important;
    padding-bottom: 4px;
    padding-top: 4px;
}
.selectize-dropdown-content .option:hover {
  background: #ccc;
}
.selectize-input.items.full.has-options.has-items input{
  display: none;
}
.selectize-input.items.full.has-options.has-items.input-active input{
  display: none;
}
/*.bootstrap-datetimepicker-widget{
width: 300px;
}*/
/*.selectize-input.items.full.has-options.has-items input {
    width: 179px!important;
    position: absolute;
    top: 28px;
    z-index: -1;

}
.selectize-input.items.full.has-options.has-items .item {
    padding-left: 14px;
    width: 179px;
   background: #fff;
    height: 26px;
}*/
.libelle-achat{
  display: inline-flex;
  width: 100%;
  padding: 7px;
}
/*.libelle-achat span{
    width: 128px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}*/
.selectize-dropdown.single {
    /*top: 50px !important;*/
    position: absolute;
  }

/*--------vente-----------*/
.vente-new{
  display: -webkit-inline-box;
    width: 100%;
}
